<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>SupportsSwiftPackage</key>
    <true/>
    <key>Kind</key>
    <string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
    <key>SortOrder</key>
    <string>1</string>
    <key>AllowedTypes</key>
    <array>
        <string>public.swift-source</string>
    </array>
    <key>Platforms</key>
    <array />
    <key>DefaultCompletionName</key>
    <string>YourApp</string>
    <key>Options</key>
    <array>
      <dict>
        <key>Identifier</key>
        <string>productName</string>
        <key>Required</key>
        <true/>
        <key>Name</key>
        <string>TCA Core Name: </string>
        <key>Description</key>
        <string>The name of the Core which consists of State, Action and Environment</string>
        <key>Type</key>
        <string>text</string>
        <key>Default</key>
        <string>YourApp</string>
        <key>NotPersisted</key>
        <true/>
      </dict>
      <dict>
        <key>Identifier</key>
        <string>WithCounterSample</string>
        <key>Required</key>
        <false/>
        <key>Name</key>
        <string>with Counter Example</string>
        <key>Description</key>
        <string>Generate a sample counter app</string>
        <key>Type</key>
        <string>checkbox</string>
        <key>Default</key>
        <false/>
        <key>NotPersisted</key>
        <true/>
      </dict>
    </array>
  </dict>
</plist>
